<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncu.bookstore.dao.CategoryDao">
    <resultMap id="result_map" type="cn.edu.ncu.bookstore.entity.Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="findAll" resultMap="result_map">
        SELECT id,name,description
        from category
    </select>
</mapper>